# Basics #
API_ID = 22403100 # https://my.telegram.org
API_HASH = "ccbc3f662735abfa604ef6309ba76e67" # https://my.telegram.org
BOT_TOKEN = "8000973092:AAE0gs7PHx-HZh4Xv5fOKYoCIOiUvdIrKEI"

# Authorization # - List of id's, separated by space -
OWNER_ID = 7950514048
SUDO_USERS = "8108281129"
EVERYONE_CHATS = ""

# Log Channel #
LOG_CHANNEL = -1002432275758

# Database #
SESSION_NAME = "encoderbot"
MONGO_URI = "mongodb+srv://Divyanshu:gameno01@cluster0.bcj1u2h.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# Google Drive #
INDEX_URL = ""
DRIVE_DIR = ""

# Optional #
DOWNLOAD_DIR = "VideoEncoder/downloads/"
ENCODE_DIR = "VideoEncoder/encodes/"